body, html {
    padding: 0;
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
    display: inline-block;
    align-items: center;
    font-weight: 500;
    background: transparent;
    padding: 5px;
    top: 0;
    width: 100%;
    overflow: hidden;
    position: fixed;
    z-index: 100;
}

.navbar .left, .navbar .right {
    display: inline;
    align-items: center;
}

.navbar .center {
    display: inline-block;
    margin-left: 450px; 
}

.navbar a {
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    font-size: 17px;
}

.navbar .title {
    font-size:25px;
}

.navbar img {
    display: inline;
    margin-top: 5px;
    margin-left: 15px;
}

.center a {
    position: relative;
}

.center a::after, 
.center a::before {
    content: '';
    position:absolute;
    width: 100%;
    height: 2px;
    background: white;
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s ease-out;
}

.center a:hover::after, 
.center a:hover::before {
    transform: scaleX(1);
}

.navbar .right {
    display: inline-block;
    margin-left: 20%;
    margin-right: 15px;
}

.navbar .right button:hover {
    background: rgba(255, 255, 255, 0.8);
}

body, .hero-section {
    margin:0;
    top:0;
    height: 100vh;
    background-image: url(../assets/hero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative; 
}

.banner-text {
    color: white;
    font-size: 100px;
    margin-top: 350px;
    margin-left: 80px;
    position: absolute;
    
}