body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: 'Courier New', Courier, monospace;
}

@font-face {
    font-family: 'PressStart';
    src: url(../assets/fonts/PressStart2P-Regular.ttf);
}

.nav-bar {
    background-color: rgb(121, 159, 178);
    width: 100vw;
    height: 60px;   
}

.nav-bar img {
    width: 3rem;
    height: 3rem;
    margin-left: 10px;
    margin-top: 4px;
}

.container {
    font-size: 0;
    width: 100%;
    height: 100vh;
    margin:0;
    padding: 0;
}

.img-container {
    display: inline-block;
    width: 50%;
    height: 100%;
    background-image: url(../assets/gyarados.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: top;
}

.login-container {
    font-size: 18px;
    display: inline-block;
    width: 50%;
    height: 100%;
    vertical-align: top;
    position: relative;
    background-color: wheat;
}

.login-container h1 {
    font-family: 'PressStart';
} 

.login-container form {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-51%);
}

.login-container input {
    margin-bottom:10px;
    border-style: solid;
    height:15px;
}

.login-container button {
    width: 80px;
    margin-left: 25%;
}