.counter-widget {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: azure;
    color: black;
    font-weight: bolder;
    padding: 25px 40px;
    margin: 0 0 0 25px;
    border-radius: 15px;
    button {
        cursor: pointer;
    }
    button:active {
        background-color: white;
        color: black;
    }
}