.show-hide-widget {
    display: flex;
    flex-direction: column;
    background-color: #9ce19c;
    color: black;
    border-radius: 15px;
    padding: 25px 40px;
    p {
        font-weight: bold;
        font-size: 24px;
    }
}