body, html {
    margin: 0;
    padding: 0;
    background-color: azure;
}
.hex-gen, .joke-gen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0 20px;
    h1, h3 {
        color: wheat;
    }
    button {
        padding: 10px;
        color: black;
        background-color: white;
        cursor: pointer;
        transition: .3s ease;
        &:hover {
            background-color: wheat;
            color: black;
        }
    }
}

.joke-gen {
    p {
        text-align: center;
    }
    textarea {
        width: 50%;
        height: 200px;
        resize: none;
    }
}